/*Google fonst*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*variables css*/
:root {
    --header-height: 4.5rem;

    /*Colors*/
    --hue: 0;
    --sat: 0%;
    /* --title-color: hsl(var(--hue), var(--sat), 20%); */
    --title-color: hsl(197, 100%, 18%);
    --subtitle-color: hsl(197, 100%, 31%);
    --title-color-dark: hsl(196, 100%, 8%);
    --text-color: hsl(222, 13%, 15%);
    --body-color: hsl(252, 8%, 87%);
    --container-color: #fff;

    /*Font*/
    --body-font: "Poppins", sans-serif;

    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.7rem;
    --tiny-font-size: 0.6rem;

    /*Font weight*/
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*Margins*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.2rem;
    --mb-0-75: 0.75rem;
    --mb-1-5: 1.5rem;
    --mb-1: 1rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*z index*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*Responsive*/
@media screen and (max-width: 992px) {
    :root {
        --big-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.9rem;
        --small-font-size: 0.8rem;
        --smaller-font-size: 0.7rem;
    }
}

/*Base*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
/*-----h1 before----*/
h1{
    position: relative;
}
h1::before,
h1::after {
    content: '';
    width: 150px;
    height: 3px;
    display: inline-block;
    background-color: var(--title-color);
    vertical-align: 0.3em;
    margin: 0 -100%;
}
h1::before {
    margin-right: 0.75em;
}

h1::after {
    margin-left: 0.75em;
}
/*-----h2 before----*/
h2 {
    position: relative;
}

h2::before,
h2::after {
    content: '';
    width: 150px;
    height: 3px;
    display: inline-block;
    background-color: var(--title-color);
    vertical-align: 0.3em;
    margin: 0 -100%;
}

h2::before {
    margin-right: 0.75em;
}

h2::after {
    margin-left: 0.75em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*css classes*/
.section {
    padding: 6rem 0 2rem;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}

/*Layout*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*Buttons*/
.button {
    display: inline-block;
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 1.25rem 3rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--title-color-dark);
}

.button__icon {
    margin-left: var(--mb-0-5);
}

.button--flex {
    display: inline-flex;
    align-items: center;
}




@media screen and (max-width: 992px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .button {
        padding: 1rem 1.75rem;
    }

    .section {
        padding: 5rem 0 4rem;
    }

}

@media screen and (max-width: 768px) {
    body {
        margin: 0 0 var(--header-height) 0;
    }
    /*-----h1 before----*/
    h1::before,
    h1::after {
        content: '';
        width: 30px;
        height: 3px;
        display: inline-block;
        background-color: var(--title-color);
        vertical-align: 0.3em;
        margin: 0 -100%;
    }

    h1::before {
        margin-right: 0.10em;
    }

    h1::after {
        margin-left: 0.10em;
    }
    /*-----h2 before----*/
    h2::before,
    h2::after {
        content: '';
        width: 50px;
        height: 3px;
        display: inline-block;
        background-color: var(--title-color);
        vertical-align: 0.3em;
        margin: 0 -100%;
    }

    h2::before {
        margin-right: 0.50em;
    }

    h2::after {
        margin-left: 0.50em;
        }

    .section__subtitle {
        margin-bottom: var(--mb-3);
    }
}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

}